/* Paleta de Cores Opção A*/
.colorA1 { background-color: #f2e8c4 };
.colorA2 { background-color: #98d9b6 };
.colorA3 { background-color: #3ec9a7 };
.colorA4 { background-color: #2b879e };
.colorA5 { background-color: #616668 };

/* Paleta de Cores Opção B*/
.colorB1 { background-color: #0474bc };
.colorB2 { background-color: #e4d4ac };
.colorB3 { background-color: #0474b4 };
.colorB4 { background-color: #6392ae };
.colorB5 { background-color: #bdb7a0 };

@font-face {
    font-family: 'Octin College';
    src: url('../fonts/OctinCollegeRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('../fonts/OctinCollegeBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('../fonts/OctinCollegeSemiBold.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('../fonts/OctinCollegeLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

body {
    background: #f2e8c4;
}

p {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn,
.form-control {
    border-radius: 0;
}

.octin-font {
    font-family: 'Octin College';
}

.calendar,
.index-calendar {
    max-width: 80%;
    margin: 0 auto;
}

.calendar-fixed {
    table-layout: fixed;
}

.mes-atual {
    background-color: #4682B4;
    color: white;
    border-bottom: 2px solid #dee2e6;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.table th {
    background-color: #2b879e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f2e8c4;
    max-width: 8em;
    font-family: 'Octin College';
    font-weight: 400;
    font-size: .8rem;
}

.table td {
    border: 1px solid #f2e8c4;
    vertical-align: middle;
    text-align: center;
    width: 14.28%;
    height: 3.5rem;
    /* Altura fixa para as células */
    box-sizing: border-box;
    /* Inclui o padding e a borda na largura e altura total */
    overflow: hidden;
    /* Garante que o conteúdo não exceda a célula */
    white-space: nowrap;
    /* Impede quebra de linha */
    text-decoration: none;
}

/* Dias de outros meses */
.other-month {
    color: #6c757d !important;
    /* Cor mais clara para dias de outros meses */
    background-color: #DCDCDC !important;
    /* Fundo mais claro */
}

/* Estilo para os dias */
.day {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.day:hover {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.today {
    background-color: #3ec9a7 !important;
    color: #fff !important;
    font-weight: bold;
}

.today:hover {
    color: #000 !important;
}

/* Controles do calendário */
#year-controls,
#month-controls,
.controles-data {
    margin: 0 auto;
    border-top: 1px solid #f2e8c4;
}

.controles-data {
    background-color: #2b879e;
    color: #DDDEE5;
}

.controles-btn {
    background-color: transparent;
    color: #fff;
    border: none;
}

/* Estilo do formulário */
#goto-date-controls {
    margin-top: .2em;
}

#goto-date-form {
    display: flex;
    align-items: center;
}

#goto-date-form h4 {
    font-weight: 700;
    font-size: .95em;
}

.has-pdf {
    cursor: pointer;
}

.today.has-pdf:hover {
    color: #d9534f;
    text-transform: none;
}

.has-pdf:hover {
    color: #fff;
    text-transform: none;
}

.pdf-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.pdf-icon {
    color: #d9534f;
    /* Cor do ícone PDF */
    margin-right: 10px;
    font-weight: bold;
}

.pdf-link {
    flex: 1;
    text-decoration: none;
    color: #0275d8;
    /* Cor do link */
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
    color: white;
    /* Cor do botão ao passar o mouse */
}

#file-list {
    max-width: 12em;
    margin: 0 auto;
}

.container-lista-pdfs {
    max-height: 32rem;
    overflow-y: auto;
}

.container-lista-pdfs-title {
    background-color: #f2e8c4;
}

.modal-content,
.offcanvas-content {
    background-color: #f2e8c4;
}

.modal-header,
.offcanvas-header{
    background-color: #616668;
}

.input-date {
    max-width: 6em;
}

.input-file {
    max-width: 10em;
}

/* Banner */
.banner {
    background-color: #616668;
    color: #fff;
}

/* Estilo página Upload*/
.upload-page {
    max-width: 45%;
    margin: 0 auto;
}

/* Acesso login DIV */
.acesso-login {
    border-top: 1px solid #000;
}

.btn-size-custom {
    width: 10em;
}

#modalUpload .modal-footer {
    display: contents;
}

.modal-header,
.modal-footer {
    border: none;
}

footer {
    background-color: #616668;
}