/* Estilo para o calendário */
body {
    background: #DDDEE5;
}

p {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.calendar,
.index-calendar {
    max-width: 80%;
    margin: 0 auto;
}

.calendar-fixed {
    table-layout: fixed;
}

.mes-atual {
    background-color: #4682B4;
    color: white;
    border-bottom: 2px solid #dee2e6;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table th {
    background-color: #0D1748;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}

.table td {
    border: 1px solid #e9ecef;
    vertical-align: middle;
    text-align: center;
    width: 14.28%;
    height: 3.5rem;
    /* Altura fixa para as células */
    box-sizing: border-box;
    /* Inclui o padding e a borda na largura e altura total */
    overflow: hidden;
    /* Garante que o conteúdo não exceda a célula */
    white-space: nowrap;
    /* Impede quebra de linha */
    text-decoration: none;
}

/* Dias de outros meses */
.other-month {
    color: #6c757d !important;
    /* Cor mais clara para dias de outros meses */
    background-color: #DCDCDC !important;
    /* Fundo mais claro */
}

/* Dia da semana */
.table th {
    border-bottom: none;
    max-width: 8em;
}

/* Estilo para os dias */
.day {
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 5px;
}

.day:hover {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.today {
    background-color: #F9B831 !important;
    /* Cor para o dia corrente */
    color: white;
    font-weight: bold;
}

.today:hover {
    color: #007bff;
}

/* Controles do calendário */
#year-controls,
#month-controls,
.controles-data {
    margin: 0 auto;
}

.controles-data {
    background-color: #0D1748;
    color: #DDDEE5;
    border-bottom: 2px solid #DDDEE5;
}

.controles-btn {
    background-color: transparent;
    color: #F9B831;
    padding: .5em;
    border: none;
}

.btn-goToDate {
    border-radius: .375rem;
    color: #F9B831;
    background-color: #0D1748;
}

.btn-goToDate:hover {
    color: #F9B831;
    background-color: #3d456c;
}


/* Estilo do formulário */
#goto-date-controls {
    margin-top: .2em;
}

#goto-date-form {
    display: flex;
    align-items: center;
}

#goto-date-form h4 {
    font-weight: 700;
    font-size: .95em;
}

.has-pdf {
    cursor: pointer;
}

.today.has-pdf:hover {
    color: #d9534f;
    text-transform: none;
}

.has-pdf:hover {
    color: #fff;
    text-transform: none;
}

.pdf-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.pdf-icon {
    color: #d9534f;
    /* Cor do ícone PDF */
    margin-right: 10px;
    font-weight: bold;
}

.pdf-link {
    flex: 1;
    text-decoration: none;
    color: #0275d8;
    /* Cor do link */
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
    color: white;
    /* Cor do botão ao passar o mouse */
}

#file-list {
    max-width: 12em;
    margin: 0 auto;
}

.container-lista-pdfs {
    border-left: 2px solid #000;
}

.modal-content,
.offcanvas-content {
    background-color: #DDDEE5;
}

.input-date {
    max-width: 6em;
}

.input-file {
    max-width: 10em;
}

/* Banner */
.banner {
    background-color: #007bff;
    color: #fff;
}

/* Estilo página Upload*/
.upload-page {
    max-width: 45%;
    margin: 0 auto;
}

/* Acesso login DIV */
.acesso-login {
    border-top: 1px solid #000;
}

.btn-size-custom {
    width: 10em;
}

#modalUpload .modal-footer {
    display: contents;
}

.modal-header,
.modal-footer {
    border: none;
}